* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px 35px;
    width: 100%;
    display: flex;
    background-image: url("../images/programming-banner.jpeg");
    justify-content: space-between;
    flex-wrap: wrap;
}

header nav {
    color: #efefef;
    justify-content: space-between;
    align-items: center;
}

.scores {
    color: #efefef;
}

body {
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

.welcome-prompt {
padding: 60px;
justify-content: center;
flex-wrap: wrap;
}

.welcome-prompt p {
    color: red;
    padding: 20px;
}

.welcome-prompt h3 {
    padding: 10px auto;
}

.welcome-prompt button {
    background-color: black;
    color: #efefef;
    border-radius: 20px;
    border: none;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transform: transition 0.4s;
}

.welcome-prompt button:hover {
    background-color: red;
    color: yellow;
}

.welcome-prompt button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}   

#container {
    margin: 50px;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: #024e76;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.question {
    color: #efefef;
    font-size: 2rem;
    font-weight: lighter;
    align-content: center;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    border: 1px solid lightgrey;
    background-color: lightblue;
    border-radius: 10px;
    padding: 5px 10px;
    color: black;
    outline: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.btn:hover {
    border-color: #efefef;
    background-color: #007FFF; 
}

.hide {
    display: none;
}