body {
    background-color: #efefef;
}

nav {
    background-color: navy;
    color: #efefef;
}

nav a {
    color: #efefef;
}

.btn {
    color: #efefef;
    background-color: black;
    border-radius: 20%;
}